body{
  margin: 0;
  background-image: url(img/background.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 400px;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}
.dots{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}
.dot{
  background-color: lightgrey;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
.wrapper{
  display: flex;
  justify-content: space-between;
  width: 40px;
}
.d-active{
  background-color: grey;
}
h1{
  font-size: 1.4em;
  font-family: 'Roboto';
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 10px 0px;
  padding-bottom: 30px;
  color: #333;
}
.method{
  border-bottom: 1px solid lightgrey;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  font-weight: 500;
  color: #999;
}
#top{
  border-top: 1px solid lightgrey;
}
#bottom{
  border-bottom: none;
}
.method img{
  height: 35px;
}
.method p{
  font-size: 1.2em;
  margin: 0;
  padding-left: 30px;
}
.method:hover{
  background-color: whitesmoke;
  cursor: pointer;
}
.active{
  color: #333;
}
#check{
  height: 25px;
  padding-left: 100px;
}
.next{
  font-family: 'Roboto';
  font-weight: 500;
  border-radius: 0px 0px 5px 5px;
  background-color: white;
  box-sizing: border-box;
  height: 50px;
}
.next p{
  margin: 0;
  text-align: center;
  color: white;
  background-color: steelblue;
  padding: 17px 0px;
}
span{
  padding-left: 5px;
}
.next:hover{
  cursor: pointer;
}
.next:active{
  padding: 1px 0px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
